body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #023047;
}

.h1 {
  color: white;
  padding-left: 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  color: white;
}

.navLinks {
  padding: 10px;
}

.hero {
  height: 400px;
  background-color: #023047;
  color: white;
  display: flex;
  flex-direction: column;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-h2 {
  padding-bottom: 10px;
  font-size: 50px;
}

.heroBtn {
  width: 200px;
  border-radius: 30px;
  background-color: #fb8500;
  color: white;
  font-size: 1.2rem;
  border: none;
  height: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.heroBtn:hover {
  background-color: #ffb703;
}